.main {
  background-color: slateblue;
  height: 100vh;
  overflow: auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 1%;
}

.container {
  padding-top: 1%;
  padding-left: 1% !important;
}

.content {
  display: grid !important;
  grid-template-columns:
    33% 33% 33%
    100% !important;
  grid-gap: 20px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  color: rgb(19, 2, 39);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.my-lists {
  color: goldenrod;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  list-style-type: none;
  text-decoration: none;
}

.my-links {
  color: goldenrod !important;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline;
}

.project-columns {
    text-align: center;
    padding-top: 1%;
}

.descriptions {
  text-align: left;
}

.video {
  margin-top: 150px;
  height: 100%;
  width: 100%;
}

.projects-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
